<% if(id=="1"){ %>
<ul class="nopad accordionTree">
    <li class="havesub"><p class="nopad accord2" href="#kat1">TVCM (23%)</p>
        <ul class="accordionSubTree submenu size-std" id="kat1">
            <li class="havesub">
                <p class="nopad accord2" href="#kat1_1">Dealer(11%)</p>
                <ul class="accordionSubTree submenu size-std" id="kat1_1">
                    <li>Purchased(84%)</li>
                </ul>
            </li>
            <li>Purchased(2%)</li>
            <li class="havesub">
                <p class="nopad accord2" href="#kat1_3">Exhibition(2%)</p>
                <ul class="accordionSubTree submenu size-std" id="kat1_3">
                    <li class="havesub">
                        <p class="nopad accord2" href="#kat1_3_1">Reference(10%)</p>
                        <ul class="accordionSubTree submenu size-std" id="kat1_3_1">
                            <li>Purchased</li>
                            <li>Dealer(23%)</li>
                        </ul>
                    </li>
                    <li>Dealer(10%)</li>
                    <li>Purchased(10%)</li>
                </ul>
            </li>
            <li class="havesub"><p class="nopad accord2" href="#kat1_4">Online(2%)</p>
                <ul class="accordionSubTree submenu size-std" id="kat1_4">
                    <li>Dealer(14%)</li>
                    <li>Purchased(2%)</li>
                    <li>Exhibition(2%)</li>
                    <li>Coincidence(2%)</li>
                </ul>
            </li>
            <li>Coincidence(2%)</li>
            <li>Print Media(2%)</li>
        </ul>
    </li>
    <li class="havesub"><p class="nopad accord2" href="#kat2">Exhibition(32%)</p>
        <ul class="accordionSubTree submenu size-std" id="kat2">
            <li class="havesub"><p class="nopad accord2" href="#kat2_1">Dealer(21%)</p>
                <ul class="accordionSubTree submenu size-std" id="kat2_1">
                    <li>Purchased(84%)</li>
                </ul>
            </li>
            <li>Purchased(5%)</li>
            <li class="havesub"><p class="nopad accord2" href="#kat2_3">Reference(2%)</p>
                <ul class="accordionSubTree submenu size-std" id="kat2_3">
                    <li class="havesub"><p class="nopad accord2" href="#kat2_3_1">Dealer(16%)</p>
                        <ul class="accordionSubTree submenu size-std" id="kat2_3_1">
                            <li>Purchased(84%)</li>
                        </ul>
                    </li>
                    <li>Purchased(3%)</li>
                    <li class="havesub"><p class="nopad accord2" href="#kat2_3_3">Online(3%)</p>
                        <ul class="accordionSubTree submenu size-std" id="kat2_3_3">
                            <li class="havesub"><p class="nopad accord2" href="#kat2_3_3_1">Dealer(14%)</p>
                                <ul class="accordionSubTree submenu size-std" id="kat2_3_3_1">
                                    <li>Purchased(84%)</li>
                                </ul>
                            </li>
                            <li>Purchased(2%)</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="havesub"><p class="nopad accord2" href="#kat3">Online(23%)</p>
        <ul class="accordionSubTree submenu size-std" id="kat3">
            <li class="havesub"><p class="nopad accord2" href="#kat3_1">Dealer(14%)</p>
                <ul class="accordionSubTree submenu size-std" id="kat3_1">
                    <li>Purchased(84%)</li>
                </ul>
            </li>
            <li>Purchased(2%)</li>
            <li class="havesub"><p class="nopad accord2" href="#kat3_3">Exhibition(2%)</p>
                <ul class="accordionSubTree submenu size-std" id="kat3_3">
                    <li class="havesub"><p class="nopad accord2" href="#kat3_3_1">Dealer(21%)</p>
                        <ul class="accordionSubTree submenu size-std" id="kat3_3_1">
                            <li>Purchased(84%)</li>
                        </ul>
                    </li>
                    <li>Purchased(3%)</li>
                    <li class="havesub"><p class="nopad accord2" href="#kat3_3_3">Reference(2%)</p>
                        <ul class="accordionSubTree submenu size-std" id="kat3_3_3">
                            <li class="havesub"><p class="nopad accord2" href="#kat3_3_3_1">Dealer(16%)</p>
                                <ul class="accordionSubTree submenu size-std" id="kat3_3_3_1">
                                    <li>Purchased(84%)</li>
                                </ul>
                            </li>
                            <li>Purchased(3%)</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="havesub"><p class="nopad accord2" href="#kat4">Coincidence(19%)</p>
        <ul class="accordionSubTree submenu size-std" id="kat4">
            <li class="havesub"><p class="nopad accord2" href="#kat4_1">Dealer(7%)</p>
                <ul class="accordionSubTree submenu size-std" id="kat4_1">
                    <li>Purchased(84%)</li>
                </ul>
            </li>
            <li>Purchased(3%)</li>
            <li class="havesub"><p class="nopad accord2" href="#kat4_3">Reference(2%)</p>
                <ul class="accordionSubTree submenu size-std" id="kat4_3">
                    <li class="havesub"><p class="nopad accord2" href="#kat4_3_1">Dealer(16%)</p>
                        <ul class="accordionSubTree submenu size-std" id="kat4_3_1">
                            <li>Purchased(84%)</li>
                        </ul>
                    </li>
                    <li>Purchased(3%)</li>
                    <li class="havesub"><p class="nopad accord2" href="#kat4_3_3">Online(2%)</p>
                        <ul class="accordionSubTree submenu size-std" id="kat4_3_3">
                            <li class="havesub"><p class="nopad accord2" href="#kat4_3_3_1">Dealer(14%)</p>
                                <ul class="accordionSubTree submenu size-std" id="kat4_3_3_1">
                                    <li>Purchased(84%)</li>
                                </ul>
                            </li>
                            <li>Purchased(2%)</li>
                            <li>Exhibition(2%)</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="havesub"><p class="nopad accord2" href="#kat4_4">Online(2%)</p>
                <ul class="accordionSubTree submenu size-std" id="kat4_4">
                    <li>Dealer(14%)</li>
                    <li>Purchased(2%)</li>
                    <li>Exhibition(2%)</li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="havesub"><p class="nopad accord2" href="#kat5">Reference(27%)</p>
        <ul class="accordionSubTree submenu size-std" id="kat5">
            <li>Dealer(16%)</li>
            <li>Purchased(3%)</li>
            <li>Online(2%)</li>
        </ul>
    </li>
</ul>
<% }else{ %>
    <ul class="nopad accordionTree">
        <li class="havesub"><p class="nopad accord2" href="#kat1">TVCM (25%)</p>
            <ul class="accordionSubTree submenu size-std" id="kat1">
                <li class="havesub">
                    <p class="nopad accord2" href="#kat1_1">Dealer(11%)</p>
                    <ul class="accordionSubTree submenu size-std" id="kat1_1">
                        <li>Purchased(84%)</li>
                    </ul>
                </li>
                <li>Purchased(2%)</li>
                <li class="havesub">
                    <p class="nopad accord2" href="#kat1_3">Exhibition(2%)</p>
                    <ul class="accordionSubTree submenu size-std" id="kat1_3">
                        <li class="havesub">
                            <p class="nopad accord2" href="#kat1_3_1">Reference(10%)</p>
                            <ul class="accordionSubTree submenu size-std" id="kat1_3_1">
                                <li>Purchased</li>
                                <li>Dealer(23%)</li>
                            </ul>
                        </li>
                        <li>Dealer(10%)</li>
                        <li>Purchased(10%)</li>
                    </ul>
                </li>
                <li class="havesub"><p class="nopad accord2" href="#kat1_4">Online(2%)</p>
                    <ul class="accordionSubTree submenu size-std" id="kat1_4">
                        <li>Dealer(14%)</li>
                        <li>Purchased(2%)</li>
                        <li>Exhibition(2%)</li>
                        <li>Coincidence(2%)</li>
                    </ul>
                </li>
                <li>Coincidence(2%)</li>
                <li>Print Media(2%)</li>
            </ul>
        </li>
        <li class="havesub"><p class="nopad accord2" href="#kat2">Exhibition(30%)</p>
            <ul class="accordionSubTree submenu size-std" id="kat2">
                <li class="havesub"><p class="nopad accord2" href="#kat2_1">Dealer(21%)</p>
                    <ul class="accordionSubTree submenu size-std" id="kat2_1">
                        <li>Purchased(84%)</li>
                    </ul>
                </li>
                <li>Purchased(5%)</li>
                <li class="havesub"><p class="nopad accord2" href="#kat2_3">Reference(2%)</p>
                    <ul class="accordionSubTree submenu size-std" id="kat2_3">
                        <li class="havesub"><p class="nopad accord2" href="#kat2_3_1">Dealer(16%)</p>
                            <ul class="accordionSubTree submenu size-std" id="kat2_3_1">
                                <li>Purchased(84%)</li>
                            </ul>
                        </li>
                        <li>Purchased(3%)</li>
                        <li class="havesub"><p class="nopad accord2" href="#kat2_3_3">Online(3%)</p>
                            <ul class="accordionSubTree submenu size-std" id="kat2_3_3">
                                <li class="havesub"><p class="nopad accord2" href="#kat2_3_3_1">Dealer(14%)</p>
                                    <ul class="accordionSubTree submenu size-std" id="kat2_3_3_1">
                                        <li>Purchased(84%)</li>
                                    </ul>
                                </li>
                                <li>Purchased(2%)</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="havesub"><p class="nopad accord2" href="#kat3">Online(35%)</p>
            <ul class="accordionSubTree submenu size-std" id="kat3">
                <li class="havesub"><p class="nopad accord2" href="#kat3_1">Dealer(14%)</p>
                    <ul class="accordionSubTree submenu size-std" id="kat3_1">
                        <li>Purchased(84%)</li>
                    </ul>
                </li>
                <li>Purchased(2%)</li>
                <li class="havesub"><p class="nopad accord2" href="#kat3_3">Exhibition(2%)</p>
                    <ul class="accordionSubTree submenu size-std" id="kat3_3">
                        <li class="havesub"><p class="nopad accord2" href="#kat3_3_1">Dealer(21%)</p>
                            <ul class="accordionSubTree submenu size-std" id="kat3_3_1">
                                <li>Purchased(84%)</li>
                            </ul>
                        </li>
                        <li>Purchased(3%)</li>
                        <li class="havesub"><p class="nopad accord2" href="#kat3_3_3">Reference(2%)</p>
                            <ul class="accordionSubTree submenu size-std" id="kat3_3_3">
                                <li class="havesub"><p class="nopad accord2" href="#kat3_3_3_1">Dealer(16%)</p>
                                    <ul class="accordionSubTree submenu size-std" id="kat3_3_3_1">
                                        <li>Purchased(84%)</li>
                                    </ul>
                                </li>
                                <li>Purchased(3%)</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="havesub"><p class="nopad accord2" href="#kat4">Coincidence(19%)</p>
            <ul class="accordionSubTree submenu size-std" id="kat4">
                <li class="havesub"><p class="nopad accord2" href="#kat4_1">Dealer(7%)</p>
                    <ul class="accordionSubTree submenu size-std" id="kat4_1">
                        <li>Purchased(84%)</li>
                    </ul>
                </li>
                <li>Purchased(3%)</li>
                <li class="havesub"><p class="nopad accord2" href="#kat4_3">Reference(2%)</p>
                    <ul class="accordionSubTree submenu size-std" id="kat4_3">
                        <li class="havesub"><p class="nopad accord2" href="#kat4_3_1">Dealer(16%)</p>
                            <ul class="accordionSubTree submenu size-std" id="kat4_3_1">
                                <li>Purchased(84%)</li>
                            </ul>
                        </li>
                        <li>Purchased(3%)</li>
                        <li class="havesub"><p class="nopad accord2" href="#kat4_3_3">Online(2%)</p>
                            <ul class="accordionSubTree submenu size-std" id="kat4_3_3">
                                <li class="havesub"><p class="nopad accord2" href="#kat4_3_3_1">Dealer(14%)</p>
                                    <ul class="accordionSubTree submenu size-std" id="kat4_3_3_1">
                                        <li>Purchased(84%)</li>
                                    </ul>
                                </li>
                                <li>Purchased(2%)</li>
                                <li>Exhibition(2%)</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="havesub"><p class="nopad accord2" href="#kat4_4">Online(2%)</p>
                    <ul class="accordionSubTree submenu size-std" id="kat4_4">
                        <li>Dealer(14%)</li>
                        <li>Purchased(2%)</li>
                        <li>Exhibition(2%)</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="havesub"><p class="nopad accord2" href="#kat5">Reference(27%)</p>
            <ul class="accordionSubTree submenu size-std" id="kat5">
                <li>Dealer(16%)</li>
                <li>Purchased(3%)</li>
                <li>Online(2%)</li>
            </ul>
        </li>
    </ul>
<% } %>